---
layout: default
---

<div class="post">

  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    {% assign firstname = name | first %}
    {% assign name = site.title | split: ' ' %}
    {% assign firstname = name | first %}
    {% assign lastname =  name | slice:1, name.size | join:" " %}
    <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl | prepend: site.url }}/">
     <span class="font-weight-bold">{{ firstname }}</span> {{ middlenames }}  {{ lastname }}
    </a>
  </header>

  <article>
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
        {% if page.profile %}
        <div class="profile col-4 {% if page.profile.align == 'left' %}order-first{% endif %}">
          {% if page.profile.image %}
            <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          {% endif %}
          {% if page.profile.address %}
            <div class="address" style="font-size: 13px;">
              {{ page.profile.address }}
            </div>
          {% endif %}
        </div>
        {% endif %}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
